AuthType Basic
AuthName "staging area"
AuthUserFile /home/www/toto/.htpasswd
AuthGroupFile /home/www/toto/.htgroup
Require group toto
Require all denied
Require local
Require ip 127.0.0.1
Require ip 172.28.10.1
Require ip 172.28.110.1
Require ip 172.27.10.1
Require ip 61.195.77.170
Require host stg.toto.auone.jp
Require host bk06.mobile-netbk.jp
Require ip 118.155.228.37
Require host bk04.mobile-netbk.jp
Require ip 124.211.40.204
Require host test.ip.connect.auone.jp
Require ip 61.204.42.136
Require host test.connect.auone.jp
Require ip 61.204.42.135
Require host st.connect.auone.jp
Require ip 61.204.42.132
Require host session-stg.collect.kddi.com
Require ip 219.108.156.242
Require ip 118.155.228.34
Require ip 124.211.40.198
Require ip 118.155.228.41
Require ip 18.176.229.124
Require ip 18.178.110.175
Require host stgbk06.mobile-netbk.jp
Require host stgbk07.mobile-netbk.jp
Require ip 118.155.228.3
Require ip 118.155.228.4
Require valid-user
