.dialog .BIG, .dialog  .BIG1000, .dialog  .miniBIG, .dialog .y100BIG, .dialog .MEGABIG {
   width: 100%;
   height: 48px;
   text-align: center;
}
.dialog .BIG img, .dialog .BIG1000 img, .dialog .miniBIG img, .dialog .y100BIG img, .dialog .MEGABIG img{
   width: 67px;
   height: 48px;
   border: 0;
   padding: 0;
   margin: 0;
}
.dialog .BIG {
   background: #e61010;
}
.dialog .MEGABIG {
   background: #c09b0f;
}
.dialog .y100BIG {
   background: #f08200;
}
.dialog .BIG1000 {
   background: #eb6da5;
}
.dialog .miniBIG {
   background: #aacd06;
}
.dialog nav {
    margin-top: -35px;
width: 100%;
height: 20px;
    text-align: left;
}
.dialog .modalCloseBtn,
.dialog .modalCloseBtn a {
   display: block;
   margin-left: auto;
   margin-right: 14px;
   width: 20px;
   height: 20px;
   cursor: pointer;
   border: 1px solid #fff;
}
.dialog .modalCloseBtn .cross {
   margin-top: -14px;
   width: 20px;
   height: 20px;
   font-size: 35px;
   color: #fff;
}

.dialog section {
   margin: 15px auto;
   width: 270px;
   background-color:#ffffff;
}
.dialog .btn21 {
   padding: 10px;
   float: left;
}
.dialog .btn21 a.btn-default {
   width: 108px;
}

.modal-contents{
   margin:0;
   padding:10px 20px;
   position:fixed;
   display:none;
   z-index:2;
}

#modal-overlay{
   z-index:1;
   display:none;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:120%;
   background-color:rgba(0,0,0,0.75);
   
}
