@charset "UTF-8";

.wallet-header__nav {
  margin-left: auto;
  padding-right: 10px;
}

/* ------------------------------------------------------------------------------------------------------- */
/* point-box */
/* ------------`------------------------------------------------------------------------------------------- */
.point-box {
  background: #f6f6f6;
  color: #6f6f6f;
  padding-top: 10px;
}
.point-box .box {
  margin-left: auto;
  font-size: 18px;
  font-weight: bold;
}
.point-box .box .point,
.point-box-center .point,
.point-box-center-cash .point {
  font-size: 12px;
}
.point-box .box .btn-xs {
  margin: 10px;
  padding: 0;
  font-size: 12px;
  line-height: 33px;
  width: 59px;
  height: 33px;
}
.point-box-center {
  margin: 16px;
  background: #f6f6f6;
  color: #444444;
  padding: 20px 16px 20px 16px;
  font-size: 14px;
  text-align: center;
}
.point-box-center-table {
  background: #f6f6f6;
  color: #444444;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
}
.point-box-center-cash {
  margin: 16px;
  background: #e7e7e7;
  color: #6f6f6f;
  padding: 20px 16px 20px 16px;
  font-size: 18px;
  font-weight: bold;
}
.point-box-center .yen {
  font-size: 18px;
}
.point-box-center .box {
  margin: 0 auto;
  text-align: center;
}
.point {
  width: 45%;
  display: inline-block;
  text-align: right;
}
.point_number {
  width: 51%;
  display: inline-block;
  text-align: right;
}
.point-box-center .box ul,
.point-box-center .box ul li {
  margin: 0;
  padding: 0;
}
.point-box-center .box ul li {
  font-size: 12px;
  list-style: none;
}
.point-box-left {
  margin: 16px;
  background: #f6f6f6;
  color: #444444;
  padding: 20px 16px 20px 16px;
  font-size: 14px;
}

.view_list1 {
  background: #f6f6f6;
}