a{
    color:#ff6600;
    font-style:normal;
    text-decoration:underline;
    aaaa:bbbbb;
}
a img{
    border-style:none;
}
/* サイズsmall */
.txt_small {
font-size:small;
}
/* サイズx-small */
.txt_xsmall {
font-size:x-small;
}
/* 赤字 */
.txt_red {
color: #ff0000;
}
/* オレンジ字 */
.txt_org {
color: #E98134;
}
/* 白字 */
.txt_wht {
color: #ffffff;
}
/* 太字 */
.strong{
font-weight: bold;
}
/* 太赤字 */
.strong_red{
color: #ff0000;
font-weight: bold;
}
/* 画面下方リンク用 */
.btm_link_left{text-align: left;}
.btm_link_right{text-align: right;}
.btm_link_center{text-align: center;}

/* 画面下方ボタン用 */
.btm_submit{text-align: center; margin-bottom: 5px;}

/* 画像用 */
.ful_img{text-align:center;}
.ful_img img{text-align:center; border-style:none;}

/* 誘導ボタン用 */
.lead_regist{text-align: center; padding: 10px;}
.lead_link{text-align: center; padding: 10px; }
.lead_label{color : #ff0000; padding: 10px; font-size:80%;}
h1 {
width:310px;
margin:0 auto;
padding-left:10px;
}
#home_head {
width:302px;
padding:8px 7px 10px 10px;
margin:0 auto;
}
#home_head li {
float:right;
padding-top: 5px;
}
#home_head li.logo {
float:left;
margin-right:12px;
padding-top: 0px;
}
.home_carryover {
text-align:center;
padding:0;
margin:0 10 5 10;
}
.home_carryover .txt {
text-align:center;
color: #FFFFFF;
background:url(../img/home_carryover_bg1.png) left top repeat-x #000000;

padding:5px 0 65px;
}
.home_carryover .txt span {
font-weight:bold;
font-size: 85%;
}
.home_carryover table {
width: 305px;
margin: 0 auto;
margin-left: -13px;
margin-top: -60px;
margin-bottom: 20px;
}
.home_carryover table td {
width:25px;
text-align:right;
}
.home_carryover table td.oku {
width:14px;
}
.home_carryover table td.man {
width:13px;
}
.home_carryover table td.yen {
width:12px;
}
/* cam */
.home_camlist {
margin-bottom:15px
}
.home_camlist li {
border-bottom:1px solid #dfdfdf;
padding:10px 10px 10px 10px;
}
.home_camlist li dt {
float:left;
display:block;
width:50px;
}
.home_camlist li dd {
float:left;
display:block;
width:100%;
margin-left:-60px;
}
.home_camlist li dd span {
display:block;
margin-left:70px;
font-size:80%;
line-height:120%;
}

/* howto */
h2.home {
margin:0;
}
.home_howto_link {
border-collapse:collapse;
margin-bottom:20px;
}
.home_howto_link li {
background:url(../img/promotion_complete_menu_bg.png) left bottom repeat-x #fbfbfb;
border-bottom:1px solid #c0c0c0;
display:block;
border-collapse:collapse;
}
.home_howto_link li a {
background:url(../img/promotion_complete_menu_arrow.png) right center no-repeat;
padding:10px 0 10px 10px ;
margin-right:10px;
font-size:105%;
font-weight:bold;
display:block;
text-decoration:none;
color:#111111;
}
.home_howto_link li img {
float:left;
width:40px;
vertical-align:middle;
margin:0 10px 0 0;
}
.home_howto_link li div {
float:left;
width:100%;
margin-left:-60px;
}
.home_howto_link li div span {
display:block;
margin-left:60px;
font-size:65%;
line-height:140%;
padding-top:7px;
}
.home_howto_link li div span strong {
font-size:120%;
}
.home_info {
margin-bottom:15px;
}
.home_info dt {
font-size:90%;
padding:10px 10px 0 10px;
}
.home_info dd {
font-size:100%;
border-bottom:1px solid #dfdfdf;
padding:0 10px 10px 10px;
}
.home_btn {
text-align:center;
border-bottom:1px solid #dfdfdf;
padding-bottom:10px;

}


/* ================
■mypage
================ */
.mypage_campaign{
padding-bottom:10px;
margin-bottom:10px;
border-bottom:#dfdfdf 1px solid;
width:100%;
}
.mypage_campaign th{
width:80px;
vertical-align:top;
}
.mypage_menu_title{
background:url(../img/common_tit_bg140823.png) repeat-x top #FF0000;
}
.mypage_menu_title h2{
float:left;
margin-bottom:0;
}
.mypage_menu_title p{
float:right;
padding-top:6px;
}
.mypage_menu_list{
width:100%;
}
.mypage_menu_list td{
border-bottom:1px solid #c1c1c1;
}
.mypage_menu_list td.odd{
border-right:1px solid #c1c1c1;
}
.mypage_menu_list td a{
background: url(../img/mypage_menu_arrow.png) no-repeat right center;
    display: block;
    margin-right: 5px;
    padding:12px 0 0 10px;
    text-decoration: none;
color:#111111;
height:42px;
}
.mypage_menu_list td a img{
margin-right:10px;
}
.mypage_logout{
text-align:center;
padding:15px 0;
border-bottom:#dfdfdf solid 1px;
}
.mypage_big_bg{
text-align:center;
background-color: #E61010;
padding:0px 0px 5px;
margin-top:10px;
}
.mypage_toto_bg{
text-align:center;
background-color: #F4D221;
padding:0px 0px 5px;
}
.kounyu_txt {
padding-top: 10px;
padding-bottom: 10px;
}
.mainte_txt {padding-bottom: 10px;}
.mypage_big_bg_black {
color: #FFFFFF;
background-color: #000000;
width: 312px;
margin:0 auto 8px auto;
padding-top: 4px;
padding-right: 0px;
padding-bottom: 4px;
padding-left: 0px;
}
.mypage_big_bg_black table {
width:299px;
margin:0 auto;
}
.carryover_txt {
padding-top: 5px;
padding-bottom: 5px;
font-size: 80%;
line-height:130%;
}
.big_btm {
padding-bottom: 23px;
}


/* ================
■jibuncard
================ */
.clear{
clear:both;
}
h3.jibuncard_stit {
height:19px;
background:url(../img/common_stit2_bg.png) repeat-x 0 0;
font-size:105%;
color:#111111;
text-align:center;
font-weight:bold;
padding:5px 10px 8px 10px;
border-top:1px solid #EAEAEA;
margin-bottom:10px;
}
h3.jibuncard_stit2 {
height:19px;
background:url(../img/common_stit2_bg.png) repeat-x 0 0;
font-size:105%;
color:#111111;
text-align:center;
font-weight:bold;
padding:5px 10px 8px 10px;
border:none;
margin-bottom:10px;
margin-top:-10px;
}
.txt_left {
text-align:left;
}
input.input_btn01{
background:url(../img/jibuncard_btn_registration.png) 0 0 no-repeat;
width:300px;
height:47px;
margin:0 auto;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
}
input.input_btn_regist{
background:url(../img/jibuncard_btn_edit2_n.png) 0 0 no-repeat;
width:300px;
height:47px;
margin:0 auto;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
}
input.input_btn_decide{
    background:url(../img/jibuncard_btn_decide.png) 0 0 no-repeat;
    width:300px;
    height:47px;
    margin:0 auto;
    text-align:center;
    border:none;
    display:block;
    text-indent:-9999px;
}
input.input_btn_change{
background:url(../img/jibuncard_btn_change.png) 0 0 no-repeat;
width:300px;
height:47px;
margin:0 auto;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
}
input.input_btn_delete{
    background:url(../img/jibuncard_btn_delinfo.png) 0 0 no-repeat;
    width:300px;
    height:47px;
    margin:0 auto;
    text-align:center;
    border:none;
    display:block;
    text-indent:-9999px;
}

.confirm{
padding-left:30px;
}
.lightgray_area {
background-color:#f7f7f7;
margin-bottom: 20px;
padding-bottom: 15px;
}
.back_cardnumber span{
padding:0 0 10px 2px;

}
.back_cardnumber input{
width:20%

}
.securitycode p{
float:left;
width:175px;
padding-right:5px;
}
.days span{
vertical-align: bottom;
padding-bottom:5px;
}
.jibuncard_error {
border:2px solid #ff0000;
margin:0 10px 10px 10px;
}
.jibuncard_error dt {
background-color:#ff0000;
color:#ffffff;
font-size:80%;
text-align:center;
padding:2px 0;
}
.jibuncard_error dd {
color:#ff0000;
font-size:80%;
padding:10px;
}


/* ================
■promotion/complete
================ */
h2.promotion_complete {
background:#ffae1e;
text-align:center;
margin:0;
padding:0;
height:auto;
font-size:1px;
}
#promotion_complete_tit1 {
background:url(../img/promotion_complete_tit1_bg.png) 0 0 repeat-x;
border:none;
padding-left:10px;
}
#promotion_complete_tit2 {
background:url(../img/promotion_complete_tit2_bg.png) 0 0 repeat-x;
border:none;
padding-left:10px;
}
#promotion_complete_tit3 {
background:url(../img/promotion_complete_tit3_bg.png) 0 0 repeat-x;
border:none;
padding-left:10px;
}
#promotion_complete_tit1 h3 {
background:url(../img/promotion_complete_tit1_img.png) left bottom no-repeat;
border:none;
text-align:left;
color:#FFFFFF;
text-shadow:1px 1px 1px #666666;
height:19px;
padding:10px 10px 10px 32px;
margin:0;
}
#promotion_complete_tit2 h3 {
background:url(../img/promotion_complete_tit2_img.png) left bottom no-repeat;
border:none;
text-align:left;
color:#FFFFFF;
text-shadow:1px 1px 1px #666666;
height:19px;
padding:10px 10px 10px 36px;
margin:0;
}
#promotion_complete_tit3 h3 {
background:url(../img/promotion_complete_tit3_img.png) left bottom no-repeat;
border:none;
text-align:left;
color:#FFFFFF;
text-shadow:1px 1px 1px #666666;
height:19px;
padding:10px 10px 10px 36px;
margin:0;
}
.promotion_complete_main_bg1 {
background:#fff4f0;
text-align:center;
}
.promotion_complete_main_bg2 {
background:#e4f1f7;
text-align:center;
}
.promotion_complete_main_bg3 {
background:#fdf2f6;
text-align:center;
}
/* big lineup */
.promotion_complete_link_area {
border-collapse:collapse;
border-bottom:1px solid #c0c0c0;

}
.promotion_complete_link_area li {
background:url(../img/promotion_complete_menu_bg.png) 0 0 repeat-x;
border-top:1px solid #c0c0c0;
display:block;
border-collapse:collapse;
}
.promotion_complete_link_area li a {
background:url(../img/promotion_complete_menu_arrow.png) right center no-repeat;
padding:17px 0 10px 10px ;
margin-right:10px;
font-size:105%;
font-weight:bold;
display:block;
text-decoration:none;
}
.promotion_complete_link_area li a img {
vertical-align:middle;
margin:-2px 7px 0 0;
}
.promotion_complete_link_area li.big a {
color:#ff2900;
}
.promotion_complete_link_area li.big1000 a {
color:#f86bb4;
}
.promotion_complete_link_area li.minibig a {
color:#85b800;
}
.bg_kami_main_top {background-color: #f6ad23;}
.par { padding:10px;}
.sub_ttl {padding: 5px 10px; font-weight:bold;}
.sub_ttl img{
width:63px;
height:33px;
}
.sub_ttl td{border-left: 1px solid #f1d9c1;}
.next {border-top: 2px solid;border-bottom: 2px solid; text-align:center;}
.next a { display : block; padding:10px; color:#000000; text-decoration: none;}
.next_alert {border-top: 2px none;border-bottom: 2px none; text-align:left;}
.select_item td {height:50%;border:2px solid #f1d9c1; vertical-align:middle; font-weight:bold;}
.select_item td:first-child {border-left:none;}
.select_item td:last-child {border-right:none;}
.select_item td a {width:100%; height:100%; color:#000000; text-decoration: none;display:block;}
.select_item img {margin:8px 0px;}
.contents_list .select_item td {width:33%; text-align:left; font-size:80%; border-bottom:none;}
.contents_list .item_ttl {display:block;padding:10px 0px 10px 2px;}
.yubi_kami .select_item .item_ttl, .basyo_kami .select_item .item_ttl  {display:block;margin-bottom:10;}
.profile td.par {padding-bottom:30px;}

.profile .bg_link_for, .bg_link_for, .bg_link_back {font-weight:bold;}
.profile .centertable { margin : auto;}
.profile table th {font-weight:bold; text-align:left; padding:10px; vertical-align:middle;}
.profile table .padtd {padding: 10px;}
.profile .bg_kami_main {background:#ffae1d;}
.profile .par{ padding:10px; }
.profile .ttl, .ttl{background-repeat: repeat-x; font-weight: bold; padding:5px 0px 0px 10px; color: #FFFFFF; text-shadow:1px 1px gray;}
.profile .ttl img {padding-right: 5px; text-align: left; vertical-align: middle;}
.profile .sub_ttl {padding: 5px 10px; font-weight:bold;}
.yubi_kami .ttl{background: url(../img/promotion_yubi_loop.png);}
.yubi_kami .sub_ttl {background-color: #ffdfd2;}
.yubi_kami .bg_link_back, .yubi_kami .bg_link_for, .yubi_kami .select_item td, .yubi_kami .next{border-color:#ffdfd2;}
.yubi_kami .bg_link_for {border-color:#ffdfd2;}
.yubi_kami .font {border-color:#ffdfd2;}
.profile .bg_yubi_kami {background-color:#fff5f3;}
.profile .bg_yubi_kami_s {background-color:#fff5f3;}
.bg_yubi_kami_up {background-color:#fef1eb;}
.bg_yubi_kami_comp {background-color:#fff4f0;}
.yubi_kami .select_item td {width:20%; text-align:center;font-size:75%;}
.kazu_kami .sub_ttl {background-color: #C4E0EC;}
.kazu_kami .ttl{background: url(../img/promotion_kazu_loop.png);}
.kazu_kami .bg_link_back, .kazu_kami .bg_link_for{border-color:#c4e0ec;}
.profile .bg_kazu_kami {background-color:#e6f1f7;}
.profile .bg_kazu_kami_s {background-color:#e6f1f7;}
.bg_kazu_kami_up {background-color:#e6f1f7;}
.bg_kazu_kami_comp {background-color:#e2f0f8;}

.basyo_kami .ttl{background: url(../img/promotion_basyo_loop.png);}
.basyo_kami .sub_ttl {background-color: #f7cdd9;}
.basyo_kami .bg_link_back, .basyo_kami .bg_link_for, .basyo_kami .select_item td, .basyo_kami .next {border-color:#f7cdd9;}
.profile .bg_basyo_kami {background-color:#fbeaf0;}
.profile .bg_basyo_kami_s {background-color:#fbeaf0;}
.bg_basyo_kami_up {background-color:#fbeaf0;}
.bg_basyo_kami_comp {background-color:#fcf0f4;}
.basyo_kami .select_item td {width:20%; text-align:center;font-size:75%;}
h4.title {
height:17px;
background:url(../img/common_stit3_bg.png) repeat-x 0 0;
font-size:100%;
color:#111111;
text-align:center;
font-weight:bold;
padding:5px 5px 10px 5px;
margin-bottom:0px;
}
.bg_promotion_btn {
background: url(../img/promotion_btn_bg.png) repeat-x;
margin-right: 10px;
text-align: center;
}
.bg_promotion_btn_left {
background: url(../img/promotion_btn_left.png) no-repeat left top;
width: 100%;
}
.bg_promotion_btn_right {
background: url(../img/promotion_btn_right.png) no-repeat right top;
width: 100%;
}
.bg_fla_yubikami {background-color:#ffded2;color:#ffded2;}

/* ================
■promotion/flash
================ */

.promotion_fla_link {
text-align:center;
margin:0;
}
.promotion_fla_link a {
display:block;
padding:10px 0;
}

/* ================
■promotion/detail
================ */
.promotion_detail_yubi {
text-align:center;
background-color:#fef1eb;
}
.promotion_detail_basyo {
text-align:center;
background-color:#fbeaf0;
}
.promotion_detail_kazu {
text-align:center;
background-color:#e6f1f7;
}
h4.promotion_detail {
text-align:left;
color:#333333;
}
.promotion_detail_txt img {
vertical-align:middle;
}
table.promotion_detail {
border:1px solid #dfdfdf;
border-collapse:collapse;
}
table.promotion_detail td {
border:1px solid #dfdfdf;
border-collapse:collapse;
text-align:center;
width:20%;
}
table.promotion_detail td a {
display:block;
padding:5px 0;
}
table.promotion_detail td a span {
display:block;
font-size:70%;
line-height:120%;
padding-top:5px;
}


/* ================
■purchase
================ */
/* purchase_big */
.purchase_big_icon {
    /* width:302px; */
    width:100%;
margin:0 auto;
font-size:0;
margin-bottom:13px;
}
.purchase_big_icon li {
display:inline;
font-size:0;
}
/* big */
.purchase_big_big {
border:2px solid #fe2900;
border-top:none;
}
.purchase_big_big dt {
background-color:#fe2900;
text-align:center;
margin:0;
padding:0;
}
.purchase_big_big dd {
text-align:left;
padding:15px 11px;
}
.purchase_big_big dd.btn {
text-align:center;
padding:0 0 13px 0;
}
/* big1000 */
.purchase_big_big1000 {
border:2px solid #f76bb4;
border-top:none;
}
.purchase_big_big1000 dt {
background-color:#f76bb4;
text-align:center;
margin:0;
padding:0;
}
.purchase_big_big1000 dd {
text-align:left;
padding:15px 11px;
}
.purchase_big_big1000 dd.btn {
text-align:center;
padding:0 0 13px 0;
}
/* mini big */
.purchase_big_minibig {
border:2px solid #a4d615;
border-top:none;
}
.purchase_big_minibig dt {
background-color:#a4d615;
text-align:center;
margin:0;
padding:0;
}
.purchase_big_minibig dd {
text-align:left;
padding:15px 11px;
}
.purchase_big_minibig dd.btn {
text-align:center;
padding:0 0 13px 0;
}
/* purchase_toto */
.purchase_toto_txt a {
font-weight:bold;
}
.purchase_toto_icon {
    width:100%;
margin:0 auto;
font-size:0;
margin-bottom:13px;
}
.purchase_toto_icon li {
display:inline;
font-size:0;
}
/* toto */
.purchase_toto_toto {
border:2px solid #ffd900;
border-top:none;
}
.purchase_toto_toto dt {
background-color:#ffd900;
text-align:center;
margin:0;
padding:0;
}
.purchase_toto_toto dd {
text-align:left;
padding:15px 11px;
}
.purchase_toto_toto dd.btn {
text-align:center;
padding:0 0 13px 0;
}
/* mini toto */
.purchase_toto_minitoto {
border:2px solid #00a0e9;
border-top:none;
}
.purchase_toto_minitoto dt {
background-color:#00a0e9;
text-align:center;
margin:0;
padding:0;
}
.purchase_toto_minitoto dd {
text-align:left;
padding:15px 11px;
}
.purchase_toto_minitoto dd.btn {
text-align:center;
padding:0 0 13px 0;
}
/* totoGOAL3 */
.purchase_toto_totogoal3 {
border:2px solid #19ad5e;
border-top:none;
}
.purchase_toto_totogoal3 dt {
background-color:#19ad5e;
text-align:center;
margin:0;
padding:0;
}
.purchase_toto_totogoal3 dd {
text-align:left;
padding:15px 11px;
}
.purchase_toto_totogoal3 dd.btn {
text-align:center;
padding:0 0 13px 0;
}
/* totoGOAL2 */
.purchase_toto_totogoal2 {
border:2px solid #13a140;
border-top:none;
}
.purchase_toto_totogoal2 dt {
background-color:#13a140;
text-align:center;
margin:0;
padding:0;
}
.purchase_toto_totogoal2 dd {
text-align:left;
padding:15px 11px;
}
.purchase_toto_totogoal2 dd.btn {
text-align:center;
padding:0 0 13px 0;
}
/* purchase jibuncard */
h3.purchase_jibuncard_tit{
height:56px;
background:url(../img/jibuncard_tit.png) repeat-x 0 0;
font-size:105%;
color:#111111;
text-align:center;
font-weight:bold;
padding:7px 10px 10px 10px;
border-top:2px solid #f76b1f;
margin-bottom:10px;
}
.purchase_darkgray_area_right {
background-color:#d7d7d7;
margin:5px 10px;
padding:10px;
text-align:right;
}




/* ================
■purchase/input
================ */
/* big */
.purchase_input_tit_big {
background-color:#fe2900;
text-align:center;
margin:0;
padding:0;
}
.purchase_input_tit_big1000 {
background-color:#f76bb4;
text-align:center;
margin:0;
padding:0;
}
.purchase_input_tit_minibig {
background-color:#a4d615;
text-align:center;
margin:0;
padding:0;

}
/* toto */
.purchase_input_tit_toto {
background-color:#ffd900;
text-align:center;
margin:0;
padding:0;
}
.purchase_input_tit_minitoto {
background-color:#00a0e9;
text-align:center;
margin:0;
padding:0;
}
.purchase_input_tit_totogoal3 {
background-color:#19ad5e;
text-align:center;
margin:0;
padding:0;
}
.purchase_input_tit_totogoal2 {
background-color:#13a140;
text-align:center;
margin:0;
padding:0;
}
form.purchase_input_form_big {
margin:0;
padding:0;
}
/* まとめて購入ボタン */
.purchase_input_big_btn {
width:300px;
margin-right:auto;
margin-left:auto;
padding:0;
font-size:0;
}
.purchase_input_big_btn li {
display:inline;
width:144px;
padding:0;
font-size:0;
line-height:0;
}
input.purchase_input_big_btn01 {
background:url(../img/purchase_input_big_btn01.png) 0 0 no-repeat;
width:144px;
height:43px;
margin:0 10px 0 0;
text-align:center;
border:none;
text-indent:-9999px;
display:inline;
}
input.purchase_input_big_btn02 {
background:url(../img/purchase_input_big_btn02.png) 0 0 no-repeat;
width:144px;
height:43px;
margin:0;
text-align:center;
border:none;
text-indent:-9999px;
display:inline;
}
input.purchase_input_big_btn03 {
background:url(../img/purchase_input_big_btn03.png) 0 0 no-repeat;
width:144px;
height:43px;
margin:0 10px 0 0;
text-align:center;
border:none;
text-indent:-9999px;
display:inline;
}
input.purchase_input_big_btn04 {
background:url(../img/purchase_input_big_btn04.png) 0 0 no-repeat;
width:144px;
height:43px;
margin:0;
text-align:center;
border:none;
text-indent:-9999px;
display:inline;
}
input.purchase_input_big2_btn01 {
background:url(../img/purchase_input_big2_btn01.png) 0 0 no-repeat;
width:144px;
height:43px;
margin:0 10px 0 0;
text-align:center;
border:none;
text-indent:-9999px;
display:inline;
}
input.purchase_input_big2_btn02 {
background:url(../img/purchase_input_big2_btn02.png) 0 0 no-repeat;
width:144px;
height:43px;
margin:0;
text-align:center;
border:none;
text-indent:-9999px;
display:inline;
}
input.purchase_input_big2_btn03 {
background:url(../img/purchase_input_big2_btn03.png) 0 0 no-repeat;
width:144px;
height:43px;
margin:0 10px 0 0;
text-align:center;
border:none;
text-indent:-9999px;
display:inline;
}
input.purchase_input_big2_btn04 {
background:url(../img/purchase_input_big2_btn04.png) 0 0 no-repeat;
width:144px;
height:43px;
margin:0;
text-align:center;
border:none;
text-indent:-9999px;
display:inline;
}
input.purchase_input_big_btn05 {
background:url(../img/purchase_input_big_btn05.png) 0 0 no-repeat;
width:295px;
height:43px;
margin:0 auto;
text-align:center;
border:none;
text-indent:-9999px;
}
input.purchase_input_big_btn_entry {
background:url(../img/purchase_input_big_btn_entry.png) 0 0 no-repeat;
width:295px;
height:43px;
margin:0 auto;
text-align:center;
border:none;
text-indent:-9999px;
}
.purchase_input_big {
vertical-align:bottom;
}
.purchase_input_big img {
margin:-3px 10px 2px 0;
}
.purchase_input_big input.input_txtarea {
margin:7px 8px 5px 0;
width:70px;
}
.purchase_input_big span {
padding-bottom:-20px;
vertical-align:bottom;
font-weight:bold;
}
/* toto */
.purchase_toto_day td {
padding:3px;
text-align:left;
border:none;
}
.purchase_toto_day td img {
margin:0 6px 3px -3px;
}
.purchase_toto_day table.b {
border:none;
}
.purchase_input_form_toto .purchase_toto_day td {
padding:3px;
text-align:left;
border:none;
}
.purchase_input_toto {
vertical-align:bottom;
}
.purchase_input_toto img {
margin:2px 5px -1px 0;
}
.purchase_input_toto span {
padding-bottom:-20px;
vertical-align:bottom;
font-weight:bold;
}
.purchase_input_form_toto {
margin:0;
padding:0;
}

/* toto 購入表 */
.purchase_input_form_toto table {
border:1px solid #c5c5c5;
border-collapse:collapse;
width:100%;
}
.purchase_input_form_toto table.goal3 {
border:1px solid #19ad5e;
width:100%;
}
.purchase_input_form_toto table.goal2 {
border:1px solid #13a140;
width:100%;
}
.purchase_input_form_toto table th {
padding:3px;
color:#ffffff;
}
.purchase_input_form_toto table th.home {
background-color:#fd1c3c;
}
.purchase_input_form_toto table th.draw {
background-color:#ffa800;
}
.purchase_input_form_toto table th.away {
background-color:#095aff;
}
.purchase_input_form_toto table th.day_goal3 {
background-color:#19ad5e;
}
.purchase_input_form_toto table th.day_goal2 {
background-color:#13a140;
}
.purchase_input_form_toto table th.team {
background-color:#effff4;
color:#333333;
border-top:1px solid #c5c5c5;
}
.purchase_input_form_toto table td {
border-top:1px solid #c5c5c5;
border-left:1px solid #c5c5c5;
border-collapse:collapse;
text-align:center;
}
table.form_toto1 td {
position: relative;
    width: 33%;
}
table.form_toto1.goal3 td ,
table.form_toto1.goal2 td {
position: relative;
    width: 25%;
}

table.form_toto1 td label ,
table.form_toto1.goal3 td label ,
table.form_toto1.goal2 td label {
    display: block;
    padding: 10px 0;
    background: url(../img/purchase_toto_bg.png) left center repeat-x;
    color: #333333;
    font-weight: bold;
    text-align: center;
/*height:27px;*/
text-decoration:underline;
}
table.form_toto1 td input[type="checkbox"]:checked + label ,
table.form_toto1.goal3 td input[type="checkbox"]:checked + label ,
table.form_toto1.goal2 td input[type="checkbox"]:checked + label {
background: url(../img/purchase_toto_bg_on.png) left center repeat-x;
color: #111111;
font-weight:bold;
    }
table.form_toto1 td input[type="checkbox"] ,
table.form_toto1.goal3 td input[type="checkbox"] ,
table.form_toto1.goal2 td input[type="checkbox"] {
-webkit-transform: scale(1,1);
opacity : 0;
position: absolute;
top: 3px;
left: 3px;
width: 100%;
height: 95%;
padding: 0;
}
/*graph  */
.purchase_input_form_toto table td.graph {
text-align:center;
padding:2px;
background-color:#ffffff;
height:8px;
text-align:left;
border-top:none;
border-bottom:1px solid #c5c5c5;
}
.purchase_input_form_toto table.goal3 td.graph ,
.purchase_input_form_toto table.goal2 td.graph {
border-bottom:none;
}
.purchase_input_form_toto table.goal3 td.border {
border-left:1px solid #19ad5e;
}
.purchase_input_form_toto table.goal2 td.border {
border-left:1px solid #13a140;
}
.purchase_input_form_toto table td.graph ul {
margin:0;
padding:0;
width:100%;
}
.purchase_input_form_toto table td.graph ul li {
display:inline-block;
height:9px;
}
.purchase_input_form_toto table td.graph ul li.g_home {
background:url(../img/purchase_toto_graph1.png) left top repeat-x;
}
.purchase_input_form_toto table td.graph ul li.g_draw {
background:url(../img/purchase_toto_graph2.png) left top repeat-x;
margin:0 1px;
}
.purchase_input_form_toto table td.graph ul li.g_away {
background:url(../img/purchase_toto_graph3.png) left top repeat-x;
}
.purchase_input_form_toto table td.graph ul li.g_0 {
background:url(../img/purchase_toto_graph1.png) left top repeat-x;
}
.purchase_input_form_toto table td.graph ul li.g_1 {
background:url(../img/purchase_toto_graph2.png) left top repeat-x;
margin:0 1px;
}
.purchase_input_form_toto table td.graph ul li.g_2 {
background:url(../img/purchase_toto_graph3.png) left top repeat-x;
margin:0 1px 0 0;
}
.purchase_input_form_toto table td.graph ul li.g_3 {
background:url(../img/purchase_toto_graph4.png) left top repeat-x;
}

/* ▲toto 購入表 */

input.purchase_input_toto_btn01 {
background:url(../img/purchase_input_toto_btn01.png) 0 0 no-repeat;
width:295px;
height:43px;
margin:0 auto;
text-align:center;
border:none;
text-indent:-9999px;
}
input.purchase_input_toto_btn02 {
background:url(../img/purchase_input_toto_btn02.png) 0 0 no-repeat;
width:295px;
height:43px;
margin:0 auto;
text-align:center;
border:none;
text-indent:-9999px;
}
input.purchase_input_toto_btn_entry {
background:url(../img/purchase_input_toto_btn_entry.png) 0 0 no-repeat;
width:295px;
height:43px;
margin:0 auto;
text-align:center;
border:none;
text-indent:-9999px;
}
.clear_txt a {
color:#333333;
text-decoration:underline;
}
.purchase_minitoto_tit {
background-color:#00a0e9;
color:#ffffff;
padding:5px 5px 5px 10px;
margin-bottom:10px;
}


/* ================
■purchase_complete
================ */
.purchase_complete_link_area {
border-collapse:collapse;
border-bottom:1px solid #c0c0c0;
margin-bottom:20px;
}
.purchase_complete_link_area li {
background:url(../img/promotion_complete_menu_bg.png) 0 0 repeat-x;
border-top:1px solid #c0c0c0;
display:block;
border-collapse:collapse;
}
.purchase_complete_link_area li a {
background:url(../img/promotion_complete_menu_arrow.png) right center no-repeat;
padding:17px 0 10px 10px ;
margin-right:10px;
font-size:105%;
font-weight:bold;
display:block;
text-decoration:none;
color:#111111;
}
.purchase_complete_link_area li a img {
vertical-align:middle;
margin:-2px 7px 0 0;
}


/* ================
■purchase_confirm
================ */
.attention_link {
margin:0 10px 15px 10px;
padding:10px;
text-align:center;
}
.attention_link img {
vertical-align:middle;
margin-right:5px;
margin-left:5px;
}
.select_toto1 {
border:1px solid #c5c5c5;
border-collapse:collapse;
width:100%;
}
table.select_toto2 {
border:1px solid #19ad5e;
border-collapse:collapse;
width:100%;
margin-bottom:10px;
}
.select_toto1 th ,
.select_toto2 th {
padding:3px;
color:#ffffff;
text-align:center;
border-collapse:collapse;
}
.select_toto1 th {
width:33%;
}
.select_toto1 th.home {
background-color:#fd1c3c;
}
.select_toto1 th.draw {
background-color:#ffa800;
}
.select_toto1 th.away {
background-color:#095aff;
}
.select_toto2 th.day {
background-color:#19ad5e;
}
.select_toto2 th.team {
background-color:#e7e7e7;
color:#333333;
border-top:1px solid #c5c5c5;
}
.select_toto1 td ,
.select_toto2 td {
padding:3px;
border:1px solid #c5c5c5;
text-align:center;
}
.select_toto2 td {
width:25%;
border-bottom:none;
}
.select_toto1 td.select ,
.select_toto2 td.select {
background:url(../img/purchase_confirm_bg_on.png) left top repeat-x #fdfbee;
}
.select_toto2 td.border {
border-left:none;
border-right:none;
}
input.purchase_input_calculation {
background:url(../img/purchase_btn_calculation.png) 0 0 no-repeat;
width:75px;
height:43px;
margin:0 0 0 8px;
border:none;
text-indent:-9999px;
}

input.purchase_payment_wallet {
    background:url(../img/purchase_btn_payment4.png) 0 0 no-repeat;
    width:295px;
    height:43px;
    margin:0 0 0 0px;
    border:none;
    text-indent:-9999px;
}

input.purchase_payment_kantankessai {
    background:url(../img/purchase_btn_payment1.png) 0 0 no-repeat;
    width:295px;
    height:43px;
    margin:0 0 0 0px;
    border:none;
    text-indent:-9999px;
}

input.purchase_payment_jibunbank {
    background:url(../img/purchase_btn_payment2.png) 0 0 no-repeat;
    width:295px;
    height:43px;
    margin:0 0 0 0px;
    border:none;
    text-indent:-9999px;
}

input.purchase_payment_jibunbank_off {
    background:url(../img/purchase_btn_payment2_not.png) 0 0 no-repeat;
    width:295px;
    height:43px;
    margin:0 0 0 0px;
    border:none;
    text-indent:-9999px;
}

input.purchase_payment_jibuncard {
    background:url(../img/purchase_btn_payment3.png) 0 0 no-repeat;
    width:295px;
    height:43px;
    margin:0 0 0 0px;
    border:none;
    text-indent:-9999px;
}

input.purchase_payment_jibuncard_off {
    background:url(../img/purchase_btn_payment3_not.png) 0 0 no-repeat;
    width:295px;
    height:43px;
    margin:0 0 0 0px;
    border:none;
    text-indent:-9999px;
}

input.jibuncard_ausecuritypass {
    background:url(../img/purchase_btn_ausecurity.png) 0 0 no-repeat;
    width:299px;
    height:47px;
    margin:0 0 0 0px;
    border:none;
    text-indent:-9999px;
}

.purchase_payment_wallet {
background:url(../img/purchase_btn_payment4.png) left bottom repeat-x #fffff5;
padding:0px;
margin-top:10px;
margin-bottom: 10px;
}

.purchase_payment_wallet .walletLink a{
    color: #0000ff;
}

.purchase_payment_area1 {
/*background:url(../img/purchase_payment_bor1.png) left bottom repeat-x #fffff5;*/
padding:0px;
margin-top:10px;
margin-bottom: 10px;
}
.purchase_payment_area2 {
/*background:url(../img/purchase_payment_bor1.png) left bottom repeat-x #f6f5f5;*/
padding:0px;
margin-bottom: 10px;
}
.purchase_payment_area3 {
/*background:url(../img/purchase_payment_bor2.png) left bottom repeat-x #fff5c9;*/
padding:0px;
}
.purchase_payment_area4 {
/*background:url(../img/purchase_payment_bor2.png) left bottom repeat-x #fff5c9;*/
padding:0px;
}
.purchase_price {
font-size:120%;
font-weight:bold;
color:#d60000;
margin:15px 0 20px 0;
text-align:center;
}

/* ================
■ purchase.jibuncard
==================*/
input.purchase_btn_ausecurity{
    background:url(../img/purchase_btn_ausecurity.png) 0 0 no-repeat;
    width:300px;
    height:47px;
    margin:0 auto;
    text-align:center;
    border:none;
    display:block;
    text-indent:-9999px;
}

/* ================
■schedule
================ */
.schedule_area {
background-color:#f7f7f7;
margin-bottom:20px;
}
.schedule_area h4 {
height:auto;
background:url(../img/schedule_h4tit_bg.png) left bottom repeat-x #fafafa;
border-top:2px solid #ffd900;
font-size:105%;
color:#111111;
text-align:left;
font-weight:bold;
padding:5px 10px 6px 10px;
margin-bottom:10px;
}
.schedule_area h4 a {
font-weight:bold;
}
.schedule_area table {
width:240px;
margin:0 auto 20px auto;
}
.schedule_area .past_link {
background:url(../img/schedule_link_bg.png) 0 0 repeat-x;
display:block;
}
.schedule_area .past_link a {
background:url(../img/common_link_arrow.png) right center no-repeat;
padding:12px 15px 11px 10px ;
margin-right:10px;
font-size:100%;
display:block;
color:#111111;
text-align:right;
}

/* ================
■resultlist
================ */
.resultlist {
border-collapse:collapse;
background:url(../img/resultlist_bg_bottom.png) left bottom repeat-x;
padding-bottom:3px;
margin-bottom:15px;
}
.resultlist li {
border-top:1px solid #c0c0c0;
font-size:100%;
display:block;
border-collapse:collapse;
}
.resultlist li a {
padding:10px;
display:block;
color:#f76b1f;
background:url(../img/common_link_arrow.png) right center no-repeat;
margin-right:10px;
text-decoration:none;
}
.resultlist li a span {
text-decoration:underline;
}
.resultlist li a span.day {
color:#333333;
text-decoration:none;
}
/*
<<,2,3,4,5,6,>>の場合は幅が足りない
.resultlist_link {
width:231px;
margin:0 auto;
}
*/
.resultlist_link {
/*width:231px;*/
margin:0 auto;
text-align: center;
}
.resultlist_link li {
width:31px;
height:26px;
padding-top:5px;
text-align:center;
margin-right:9px;
/*float:left;*/
display:inline-block;
/display:inline;
/zoom:1;
}
.resultlist_link li.end {
margin-right:0;
}
.resultlist_link li.on {
background:url(../img/resultlist_nobox_bg2.png) 0 0 no-repeat;
color:#333333;
text-decoration:none;
display:inline-block;
/display:inline;
/zoom:1;
}
.resultlist_link li a {
background:url(../img/resultlist_nobox_bg1.png) 0 0 no-repeat;
color:#333333;
text-decoration:none;
display:inline-block;
width:100%;
height:100%;
margin-top:-5px;
padding-top:5px;
/display:inline;
/zoom:1;
}

/* ================
■beforeresult
================ */
.beforeresult_icon {
    width:100%;
    text-align:center;
margin:0 auto;
font-size:0;
margin-bottom:13px;
}
.beforeresult_icon li {
display:inline;
font-size:0;
margin:0;
padding:0;
}
.beforeresult_tit_big {
background-color:#ff2900;
text-align:center;
border-bottom:2px solid #c01f00;
margin-bottom:10px;
}
.beforeresult_tit_big1000 {
background-color:#f86bb4;
text-align:center;
border-bottom:2px solid #d51879;
margin-bottom:10px;
}
.beforeresult_tit_minibig {
background-color:#a7d417;
text-align:center;
border-bottom:2px solid #82a512;
margin-bottom:10px;
}
.beforeresult_tit_toto {
background-color:#ffd900;
text-align:center;
border-bottom:2px solid #d6b600;
margin-bottom:10px;
}
.beforeresult_tit_minitoto {
background-color:#00a0e9;
text-align:center;
border-bottom:2px solid #0078af;
margin-bottom:10px;
}
.beforeresult_tit_totogoal3 {
background-color:#19ad5e;
text-align:center;
border-bottom:2px solid #138246;
margin-bottom:10px;
}
.beforeresult_tit_totogoal2 {
background-color:#13a13f;
text-align:center;
border-bottom:2px solid #0e7a30;
margin-bottom:10px;
}

.beforeresult_area {
background:url(../img/beforeresult_bg_bottom.png) left bottom repeat-x #f7f7f7;
padding-bottom:4px;
margin-bottom:15px;
}
/* h4 tit設定 */
.beforeresult_area h4 {
height:16px;
font-size:90%;
color:#111111;
text-align:center;
font-weight:bold;
padding:3px 10px 5px 10px;
margin-bottom:10px;
}
.beforeresult_area h4.big {
background:url(../img/big_beforeresult_tit_bg1.png) 0 0 repeat-x;
}
.beforeresult_area h4.big1000 {
background:url(../img/big_beforeresult_tit_bg3.png) 0 0 repeat-x;
}
.beforeresult_area h4.minibig {
background:url(../img/big_beforeresult_tit_bg5.png) 0 0 repeat-x;
}
.beforeresult_area h4.toto {
background:url(../img/toto_beforeresult_tit_bg1.png) 0 0 repeat-x;
}
.beforeresult_area h4.minitoto {
background:url(../img/toto_beforeresult_tit_bg3.png) 0 0 repeat-x;
}
.beforeresult_area h4.goal3 {
background:url(../img/toto_beforeresult_tit_bg5.png) 0 0 repeat-x;
}
.beforeresult_area h4.goal2 {
background:url(../img/toto_beforeresult_tit_bg7.png) 0 0 repeat-x;
}

.beforeresult_area ul {
margin:0 10px 15px 10px;
}
.beforeresult_area ul li {
color:#111111;
}.beforeresult_area table {
width:190px;
margin:0 auto 15px;
}
.beforeresult_area table td {
font-size:90%;
padding-top:2px;
padding-bottom:2px;
}
.beforeresult_area table td img {
vertical-align:top;
margin:2px 3px 0 3px;
}
.beforeresult_area hr {
height:1px;
background-color:#d4d4d4;
color:#d4d4d4;
border:none;
margin-top:0;
}
hr.beforeresult {
height:2px;
background-color:#c5c5c5;
color:#c5c5c5;
border:none;
}
hr.minitoto {
height:5px;
background-color:#00a0e9;
color:#00a0e9;
border:none;
margin:15px 0;
}
/* h5 tit設定 */
.beforeresult_area h5 {
height:18px;
font-size:90%;
color:#ffffff;
text-shadow:1px 1px 2px #666666;
text-align:center;
padding:1px 10px 5px 10px;
margin-bottom:10px;
}
.beforeresult_area h5.big {
background:url(../img/big_beforeresult_tit_bg2.png) 0 0 repeat-x;
}
.beforeresult_area h5.big1000 {
background:url(../img/big_beforeresult_tit_bg4.png) 0 0 repeat-x;
}
.beforeresult_area h5.minibig {
background:url(../img/big_beforeresult_tit_bg6.png) 0 0 repeat-x;
}
.beforeresult_area h5.toto {
background:url(../img/toto_beforeresult_tit_bg2.png) 0 0 repeat-x;
color:#333333;
text-shadow:1px 1px 2px #ffffff;
}
.beforeresult_area h5.minitoto {
background:url(../img/toto_beforeresult_tit_bg4.png) 0 0 repeat-x;
}
.beforeresult_area h5.goal3 {
background:url(../img/toto_beforeresult_tit_bg6.png) 0 0 repeat-x;
}
.beforeresult_area h5.goal2 {
background:url(../img/toto_beforeresult_tit_bg8.png) 0 0 repeat-x;
}


/* ================
■history
================ */
.history_reference_tit {
background:url(../img/common_stit_bg.png) repeat-x left bottom #fafafa;

color:#111111;
text-align:center;
padding:7px 10px 9px 10px;
border-top:2px solid #f76b1f;
margin-bottom:10px;
}
.history_reference_tit h3 {
background:none;
border:none;
margin:0;
padding:0;
font-weight:normal;
font-size:100%;
line-height:120%;
display:inline-block;
}
.history_reference_tit .btn1 {
display:inline-block;
width:67px;
height:31px;
float:left;
margin-top:4px;
}
.history_reference_tit .btn2 {
display:inline-block;
width:67px;
height:31px;
float:right;
margin-top:4px;
}
table.history_reference_1 {
margin:0 auto 20px auto;
border-collapse:collapse;
border:1px solid #c5c5c5;
width:100%;
font-size:90%;
}
table.history_reference_1 th {
background-color:#e7e7e7;
padding:3px 7px;
border:1px solid #c5c5c5;
text-align:left;
}
table.history_reference_1 td {
padding:3px 7px;
border:1px solid #c5c5c5;
text-align:left;
}
table.history_reference_2 {
margin:0 auto 20px auto;
border-collapse:collapse;
border:1px solid #c5c5c5;
width:100%;
font-size:90%;
}
table.history_reference_2 th {
background-color:#e7e7e7;
padding:3px 7px;
border:1px solid #c5c5c5;
text-align:center;
width:25%;
}
table.history_reference_2 td {
padding:3px 7px;
border:1px solid #c5c5c5;
text-align:center;
}
table.history_reference_2 td.hit {
background-color:#f8d200;
}
.history_attention {
padding:0 10px;
}
.history_attention dt {
float:left;
display:block;
width:12px;
}
.history_attention dd {
float:left;
display:block;
width:100%;
margin-left:-12px;
}
.history_attention dd span {
display:block;
margin-left:12px;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}
/* 結果が出た後 */
.result_img {
margin-bottom:1px;
text-align:center;
}
.gray_area_center2 {
background-color:#ebebeb;
margin:0 auto;
padding:10px;
text-align:center;
width:280px;
}
.history_reference_result {
width:100%;
border:1px solid #c5c5c5;
border-collapse:collapse;
}
.history_reference_result th {
text-align:left;
padding:3px 7px;
border:1px solid #c5c5c5;
border-collapse:collapse;
}
.history_reference_result th.no1 {
background:url(../img/history_reference_bg_no1.png) repeat-x left bottom #d9c438;
color:#ffffff;
text-align:center;
font-weight:bold;
}
.history_reference_result th.no2 {
background:url(../img/history_reference_bg_no2.png) repeat-x left bottom #cfcfcf;
color:#ffffff;
text-align:center;
font-weight:bold;
}
.history_reference_result th.no3 {
background:url(../img/history_reference_bg_no3.png) repeat-x left bottom #bfa47e;
color:#ffffff;
text-align:center;
font-weight:bold;
}
.history_reference_result td {
text-align:right;
padding:3px 7px;
border:1px solid #c5c5c5;
border-collapse:collapse;
}
.history_reference_over {
background:url(../img/history_reference_bg_over.png) repeat-x 0 0;
color:#111111;
text-align:center;
margin:12px 10px 20px 10px;
padding:10px;
}
.history_reference_over dd {
font-weight:bold;
}
.history_reference_3 {
margin:0 auto 20px auto;
border-collapse:collapse;
border:1px solid #c5c5c5;
width:100%;
font-size:95%;
}
.history_reference_3 td {
padding:10px;
border-collapse:collapse;
border:1px solid #c5c5c5;
border-right:none;
width:50%;
}
.history_reference_3 td.result {
border-left:none;
}
.history_box {
padding:0 10px;
}
.history_box dt {
float:left;
display:block;
width:73px;
margin-bottom:10px;
}
.history_box dd {
float:left;
display:block;
width:100%;
margin-left:-73px;
}
.history_box dd span {
display:block;
margin-left:73px;
font-size:90%;
}
.history_link1 {
border-collapse:collapse;
border-bottom:1px solid #dfdfdf;
margin-bottom:10px;

}
.history_link1 li {
border-top:1px solid #dfdfdf;
color:#f76b1f;
font-size:100%;
display:block;
border-collapse:collapse;
}
.history_link1 li a {
padding:10px;
display:block;
text-decoration:none;

}
.history_link1 li a span {
text-decoration:underline;
}
.history_link2 {
height:46px;
background:url(../img/history_link_bg.png) 0 0 repeat-x;
text-align:center;
margin:20px 0 10px 0;
}
.history_link2 a {
display:block;
color:#333333;
padding-top:12px;
height:100%;
}

/* ================
■entry
================ */
input.input_btn_bankselect1 {
    background:url(../img/entry_btn_bankselect1.png) 0 0 no-repeat;
    width:299px;
    height:47px;
    text-align:center;
    border:none;
    display:block;
    text-indent:-9999px;
    margin:0 auto;
}
input.input_btn_bankselect2 {
    background:url(../img/entry_btn_bankselect2.png) 0 0 no-repeat;
    width:299px;
    height:47px;
    text-align:center;
    border:none;
    display:block;
    text-indent:-9999px;
    margin:0 auto;
}
input.input_btn_bankselect3 {
    background:url(../img/kuji_btn_creditcard.png) 0 0 no-repeat;
    width:299px;
    height:47px;
    text-align:center;
    border:none;
    display:block;
    text-indent:-9999px;
    margin:0 auto;
}
input.input_btn_banksearch {
background:url(../img/entry_btn_banksearch.png) 0 0 no-repeat;
width:299px;
height:47px;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
margin:0 auto;
}
input.input_btn_banksearch2 {
background:url(../img/search_btn.png) 0 0 no-repeat;
width:70px;
height:34px;
border:none;
vertical-align: middle;
text-indent:-9999px;
margin:0 auto;
}
input.input_btn_next {
background:url(../img/entry_btn_next1.png) 0 0 no-repeat;
width:299px;
height:47px;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
margin:0 auto;
}
input.input_btn_next2 {
    background:url(../img/entry_btn_next2.png) 0 0 no-repeat;
    width:299px;
    height:47px;
    text-align:center;
    border:none;
    display:block;
    text-indent:-9999px;
    margin:0 auto;
}
input.input_btn_bankconfirm {
background:url(../img/entry_btn_bankconfirm.png) 0 0 no-repeat;
width:299px;
height:47px;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
margin:0 auto;
}
input.input_normalbankconfirm {
    background:url(../img/entry_normalbankconfirm.png) 0 0 no-repeat;
width:299px;
height:47px;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
margin:0 auto;
}
.lightgray_area2 {
background-color:#f7f7f7;
margin-bottom: 10px;
padding-bottom: 10px;
}
hr.normalbankconfirm {
height:1px;
background-color:#c5c5c5;
color:#c5c5c5;
border:none;
margin:15px 0;
}
.normalbankconfirm dt {
font-weight:bold;
margin-bottom:6px;
}
.entry_complete {
margin:10px 10px 15px 10px;
padding:15px 0;
border:2px solid #f76b1e;
text-align:center;
}
.entry_comp_note{
padding:10px 0px;background-color:#E4E4E4; margin:0px 10px 20px;
}
h3.entry_auth {
text-align:left;
}
#entry_auth {
background:#f7f7f7;
padding-bottom:20px;
}
#entry_auth .tit {
background:#E8E8E8 url(../img/entry_auth_tit_bg2.png) repeat-x 0px 0px;
margin-bottom:8px;
padding: 14px 0px;
}
#entry_auth .tit h4 {
background:url(none);
/*background:#E8E8E8 url(../img/entry_auth_tit_bg2.png) repeat-x 0px 0px;*/
color:#111111;
font-weight:bold;
font-size:85%;
text-align:left;
}

/* ================
■regist
================ */
input.input_btn_confirm {
background:url(../img/regist_btn_confirm.png) 0 0 no-repeat;
width:299px;
height:47px;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
margin:0 auto;
}
input.input_btn_auth {
background:url(../img/regist_btn_auth.png) 0 0 no-repeat;
width:299px;
height:47px;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
margin:0 auto;
}

/* ================
■bankchange
================ */
input.input_btn_bankselect {
background:url(../img/bankchange_bankselect_btn.png) 0 0 no-repeat;
width:298px;
height:47px;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
margin:0 auto;
}
input.input_btn_bankselect_confirm01 {
background:url(../img/bankselect_confirm_btn01.png) 0 0 no-repeat;
width:298px;
height:47px;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
margin:0 auto 5px;
}
input.input_btn_bankselect_confirm02 {
background:url(../img/bankselect_confirm_btn02.png) 0 0 no-repeat;
width:298px;
height:47px;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
margin:0 auto;
}
.clear_link a {
color:#333333;
}

/* ================
■resign
================ */
.resign_lst {
margin: 0px 10px 30px 5px;
}
.resign_lst li {
list-style: disc;
margin-left: 25px;
}
input.input_btn_resigninfo {
background:url(../img/resign_info_btn.png) 0 0 no-repeat;
width:298px;
height:47px;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
margin:0 auto;
}
input.input_btn_resignconfirm {
background:url(../img/resign_confirm_btn.png) 0 0 no-repeat;
width:298px;
height:47px;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
margin:0 auto;
}

/* ================
■mail
================ */
p.mail_setting_in {
padding:0 10px 10px 20px;
text-indent:-10px;
margin:0;
font-size:70%;
line-height:120%;
}
input.input_btn_mailsetting {
background:url(../img/mail_setting_btn.png) 0 0 no-repeat;
width:298px;
height:47px;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
margin:0 auto;
}
ul.mail_request {
margin: 0px 0px 20px 0;
}
ul.mail_request li {
margin:0 0 5px 25px;
}
ul.mail_request li input {
width:20px;
}

/* ================
■about
================ */
.about_link {
margin-bottom:30px;
}
.about_link li {
list-style: square;
margin-left: 28px;
}

/* ================
■login
================ */
input.input_btn_login {
background:url(../img/login_btn.png) 0 0 no-repeat;
width:298px;
height:47px;
text-align:center;
border:none;
display:block;
text-indent:-9999px;
margin:0 auto;
}
.login_check {
padding-left:10px;
}
.login_check input {
margin:0 15px 10px 0;
float:left;
width:35px;
}
.login_check label {
display:block;
line-height:115%;
float:left;
margin-left:-35px;
margin-top:-5px;
width:100%;
}
.login_check label span {
display:block;
margin-left:35px;
}

/* ================
■campaign
================ */
input.input_btn_campaign_decided {
    background:url(../img/campaign_decided_btn.png) 0 0 no-repeat;
    width:299px;
    height:47px;
    text-align:center;
    border:none;
    display:block;
    text-indent:-9999px;
    margin:0 auto;
}
/* ********************** 静的ページ ********************** */

/* ================
■about
================ */
.about_sct h3 {
text-align:left;
background:none;
border-top:none;
border-bottom:1px solid #dfdfdf;
padding:0 0 2px 0;
margin:0 10px 5px 10px;
}
.about_sct h3 span {
border-left:4px solid #f76b1f;
padding:1px 0 0 7px;
}
.about_sct p {
margin-bottom:20px;
}
.about_attention {
margin:20px 10px;
}
.about_attention dt {
background:#ff0000;
padding:3px 0;
text-align:center;
color:#ffffff;
}
.about_attention dd {
background:#ffffff;
border:1px solid #ff0000;
padding:10px;
color:#ff0000;
}
.about_profile_main_bg3 {
background:#FBEAF0;
text-align:center;
}

/* ================
■inquiry
================ */
h3.inquiry {
text-align:left;
background:none;
border-top:none;
border-bottom:1px solid #dfdfdf;
padding:0 0 2px 0;
margin:0 10px 5px 10px;
}
h3.inquiry span {
border-left:4px solid #f76b1f;
padding:1px 0 0 7px;
}
/* ================
■sitemap
================ */
.sitemap h3 {
text-align:left;
}
.sitemap ul {
margin:0 10px 20px 15px;
}
.sitemap ul li {
margin-bottom:5px;
list-style:disc;
list-style-position:inside;
color:#666666;
/*list-style:url(../img/common_link_arrow.png) inside ;*/
}
.sitemap ul li ul {
margin:5px 0 0 12px;
}
.sitemap ul li ul li {
list-style:none;
}
.sitemap #footer_btn ul {
margin:0;
}
.sitemap #footer_btn ul li {
margin-bottom:0;
list-style:none;
}

/* ================
■faq
================ */
.about_faq h3 {
text-align:left;
margin-bottom:0;
}
.about_faq ul li {
border-bottom:1px solid #c0c0c0;
display:block;
border-collapse:collapse;
}
.about_faq ul li a {
background:url(../img/common_link_arrow.png) right center no-repeat;
padding:10px 10px 10px 10px ;
margin-right:10px;
display:block;
text-decoration:none;
font-size:100%;
color:#333333;
}
.about_faq ul.link_area ,
.about_faq ul.link_area2 {
border:none;
}
.about_faq .link_area li {
border-bottom:1px solid #c0c0c0;
border-top:none;
}
.about_faq .link_area2 li {
border-bottom:1px solid #c0c0c0;
border-top:1px solid #c0c0c0;
}
.about_faq .link_area li a ,
.about_faq .link_area2 li a {
color:#f76b1f;
background:none;
}
.about_faq dl {
margin-bottom:20px;
}
.about_faq dl dt {
background:url(../img/common_stit2_bg.png) repeat-x left bottom #FBFBFB;
font-size:100%;
color:#333333;
text-align:left;
font-weight:bold;
padding:5px 5px 3px 10px;
margin-bottom:10px;
border-top:1px solid #c0c0c0;
}
.about_faq dl dd {
margin:0 10px;
font-size:100%;
}
.about_faq dl dd.pagetop {
text-align:right;
padding-top:10px;
font-size:90%;
}


/* ====================
■about/howto/aboutbig
==================== */
.aboutbig h3 {
text-align:left;
margin-bottom:0;
}
.aboutbig ul li {
border-bottom:1px solid #c0c0c0;
display:block;
border-collapse:collapse;
}
.aboutbig ul li a {
background:url('../img/common_link_arrow.png') right center no-repeat;
padding:10px 10px 10px 10px;
margin-right:10px;
display:block;
text-decoration:underline;
font-size:100%;
color:#f76b1f;
}
/* ====================
■about/howto/typebig
==================== */
.typebig_stitle01,.typebig_stitle02,.typebig_stitle03,.typetoto_stitle01,.typetoto_stitle02,.typetoto_stitle03{
background:url('../img/howto_typebig_iconstar.png') left center no-repeat;
padding-left: 17px;
}
.typebig_stitle01{color: #FF2900;}
.typebig_stitle02{color: #F86BB4;}
.typebig_stitle03{color: #82B200;}

.typebig_txt{padding-left: 20px;}
.typebig_note{
border-top: 1px solid #DFDFDF;
padding: 10px;
margin-top: 10px;
/*font-size:70%;*/
}
/* ====================
■about/howto/typetoto
==================== */
.typetoto_stitle01{color: #EF2600;}
.typetoto_stitle02{color: #00A0E9;}
.typetoto_stitle03{color: #19AD5E;}
.toto_auto{margin-left:auto;margin-right:auto;}

/* ====================
■about/guidance/debut
==================== */
.guidance_debut_title{
background: #F7B030 url(../img/guidance_mainbg.png) repeat-x left top;
text-align: center;
}
.guidance_title{
background: #FFD37D url(../img/guidance_titlebg.png) repeat-x left center;
text-align: center;
}
.guidance_title2{
background: #FFD37D url(../img/guidance_titlebg2.png) repeat-x left center;
text-align: center;
}
.guidance_box{
padding: 8px 10px;
margin-right: 8px;
margin-left: 8px;
border: 2px solid #FF9131;
}
.yubikami_box{
border-right: 1px solid #D5AB95;
border-bottom: 1px solid #D5AB95;
border-left: 1px solid #D5AB95;
padding: 0px 10px 5px;
}
.basyokami_box{
border-right: 1px solid #ED78A2;
border-bottom: 1px solid #ED78A2;
border-left: 1px solid #ED78A2;
padding: 0px 10px 5px;
}
.kazukami_box{
border-right: 1px solid #01A5C9;
border-bottom: 1px solid #01A5C9;
border-left: 1px solid #01A5C9;
padding: 0px 10px 5px;
}
.mlr_auto{margin-left:auto;margin-right:auto;}

h4.entry {
height:auto;
background:#E6E6E6 url(../img/entry_h4bg.png) repeat-x 0 0;
font-size:100%;
color:#111111;
text-align:left;
font-weight:bold;
padding:8px 8px 8px 5px;
margin-bottom:10px;
border-bottom: 1px solid #CCCCCC;
line-height: normal;
}
.flow_line{
margin-top: 5px;
border-top: 1px solid #E6E6E6;
padding: 5px 8px 0px;
}
.point_title{
background: #FFF url(../img/guidance_debut_titlebg.png) repeat-x left top;
text-align: left;
}
.mb0{margin-bottom:0px!important;}

/*----------------じぶん銀行用------------------*/
/*じぶん銀行連携キャンペーン用*/

.canpaign .bg_orange_obi {text-align:center; background-color:#f56119;}
.canpaign .bg_yellow { font-size:12px; padding:10px 10px; background-color:#fefabd;}
.canpaign .lead_link{text-align: center; padding: 10px; text-align:center;}
.canpaign .lead_label{color : #ff0000; padding: 10px; font-size:80%; text-align:center;}
.canpaign .atn2{ font-size:; text-align:center; background-color:#ffff00; padding: 10px; }
.canpaign .obi {background-color:#f56119; margin:10px;}
.canpaign .txt {font-size:12px; margin:0px 10px; line-height:14px;}
.canpaign .txt2 {font-size:12px; margin:0px 10px 10px 10px; line-height:14px;}
.canpaign .red {color:#FF0000;}
.canpaign .ful_img {text-align:center; margin-bottom:10px;}

/*じぶん銀行詳細ページ用*/

.profitable .orange_line {background-color:#f08200; height:2px;}
.profitable .top {text-align:center;}
.profitable .bg_yellow {background-color:#fefabd; padding-bottom:10px;}
.profitable .bg_yellow div.h1 {text-align:center; padding:10px 0px; font-size:16px; color:#666666;}
.profitable .cpn {text-align:center; padding-bottom:10px;}
.profitable .txt {font-size:12px; margin:0px 10px; line-height:14px;}
.profitable .txt2 {font-size:12px; margin:0px 10px 10px 10px; line-height:14px;}
.profitable .bg_yellow div.lead_cpn {text-align:right; margin:10px;}
.profitable .bg_yellow div.lead_label {color:#ff0000; padding:10px; font-size:80%; text-align:center;}
.profitable .bg_yellow div.lead_link {text-align:right; padding:10px;}
.profitable .bg_yellow div.atn2{ font-size:; text-align:center; background-color:#ffff00; padding: 10px; }

ul.profitable {
border-top:1px solid #c0c0c0;
}
ul.profitable li {
border-bottom:1px solid #c0c0c0;
display:block;
border-collapse:collapse;
}
ul.profitable li a {
background:url('../img/common_link_arrow.png') right center no-repeat;
padding:10px 10px 10px 10px;
margin-right:10px;
display:block;
text-decoration:underline;
font-size:100%;
color:#f76b1f;
}
.jibunbank h3.point {
border:none;
background:url(../img/common_tit_bg.png) repeat-x left top;
padding:0;
margin:0 0 10px;
text-align:center;
}

/*じぶん銀行詳細ページその２*/

.campaign-title{ background-color:#f56119; color:#FFFFFF; text-align:center; pading:5px 0px;}
.orange_line {background-color:#f08200; height:2px;}
.bg_jibun_main{ height:4px; background: url(../img/jibun_main_bg.png);}
.txt3 {padding:5px; font-size:16px;}

/* SCR-030 じぶん銀行説明 */
.jibunbank .atn1{ font-size:; color: #ffffff; text-align:center; background-color:#EE0000; padding:5px;}
.jibunbank .atn2{ font-size:; text-align:center; background-color:#ffff00; padding: 10px; }
.jibunbank .par{ padding: 10px; }
.bg_jibun_main{ height:4px; background: url(../img/jibun_main_bg.png); background-repeat: repeat-x;}
.jibunbank .lead_regist{padding: 5px;}
.jibunbank .lead_link{padding: 5px; }
.jibunbank .lead_label{font-size:100%; padding: 5px;}

/*----------------じぶん銀行用------------------*/
/*-- common --*/
#auone_toto {  -webkit-text-size-adjust:110%;
font-size:12px;
line-height:130%; letter-spacing:0px;
     font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
       color:#000;
   background-repeat:repeat-x;
background-color:#ffffff;
       padding:0px;
       margin:0px;
   width:100%; }


/* ====================
■about/howto/secret
==================== */
.secret h2 {
height:43px;
background:url(../img/secret_tit_bg.png) repeat-x 0 0;
text-align:center;
margin:0;
padding:0;
}
.secret h3 {
height:37px;
background:url(../img/secret_stit_bg.png) repeat-x 0 0;
text-align:center;
margin:0;
padding:0;
border:none;
}
.secret .rank {padding:10px 10px 0;}
.secret .rank h4 {
color:#FFFFFF;
font-weight:bold;
background:url(../img/secret_rank_bg.png) repeat-x left bottom #f17948;
height:auto;
padding:6px 0;
text-align:center;
margin:0;
font-size:14px;
border:none;
}
.secret .rank h4 span { font-size:12px;}
.secret .rank ol {
padding:15px 15px 10px;
margin:0;
border:1px solid #f57349;
border-top:none;
}
.secret .rank ol li {
list-style:none;
padding:0;
margin:0 0 3px;
font-weight:bold;
}
.secret .rank ol li.no1 { color:#eb1b0f;}
.secret p{ margin-top:10px; margin-bottom:15px;}
h4.txt_left {
height:auto;
background:url(../img/common_stit2_bg.png) repeat-x left bottom #FBFBFB;
font-size:95%;
color:#333333;
text-align:left;
font-weight:bold;
padding:5px;
margin-bottom:10px;
border-top:1px solid #c0c0c0;
}

/*----------------支店名・口座種別・口座番号の登録------------------*/

/*検索*/

.searchArea input.input_txtarea70 {
border:2px solid #666666;
width:70%;
height:34px;
padding:0 5px;
margin:0 0 10px 0;
float: left;
}

.searchArea input.searchBtn {
 margin-left: 5px;
 vertical-align: middle;
 float: left;
}

.searchArea:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/*くじ種/口数選択画面*/

.purchaseArea{
    margin:0 auto;
    width: 320px;
    padding: 0%;
}

.purchaseArea:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.purchaseArea .BigArea{
}

.purchaseArea .BigArea:after,
.purchaseArea .Big1000Area:after,
.purchaseArea .miniBigArea:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.purchaseArea .BigArea .logoArea,
.purchaseArea .Big1000Area .logoArea,
.purchaseArea .miniBigArea .logoArea{
    margin-right: 6px;
    float: left;
}
.purchaseArea .BigArea .selectArea,
.purchaseArea .Big1000Area .selectArea,
.purchaseArea .miniBigArea .selectArea{
}

.purchaseArea .BigArea .selectArea #bigNum,
.purchaseArea .Big1000Area .selectArea #big1000Num,
.purchaseArea .miniBigArea .selectArea #miniBigNum
{
    width: 65px;
    height: 33px;
    margin-top: 8px;
    float: left;
    font-size: 16px;
}

.purchaseArea .price{
    width: 75px;
    padding-top: 13px;
    margin-right: 0;
    font-weight: bold;
    float:left;
}

/*合計金額計算エリア*/

.sumArea{
    padding:3px 0;
    margin-bottom: 15px;
    border:1px solid #E4100F;
}

.sumArea .sumNum{
    font-size: 1.5rem;
    color: #E4100F;
}

/*くじ種、口数選択画面モーダル*/

.modal-contents{
   margin:0;
   padding:10px 20px;
   position:fixed;
   display:none;
   z-index:2;
}

#modal-overlay{
   z-index:1;
   display:none;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:120%;
   background-color:rgba(0,0,0,0.75);
}

.button-link{
   color:#00f;
   text-decoration:underline;
}

.button-link:hover{
   cursor:pointer;
   color:#f00;
}

.buttonList{
   width:320px;
   margin-left:-7px;
}

.big10Modal{
   width:320px;
   height: 340px;
   background-color: #fff;
   border: 1px solid #ed2922;
}

.big1000Modal{
   width:320px;
   height: 400px;
   background-color: #fff;
   border: 1px solid #f86bb4;
}

.minibigModal{
   width:320px;
   height: 400px;
   background-color: #fff;
   border: 1px solid #a7d419;
}

.big10Modal .ttl{
  padding: 0;
  margin-bottom: 10px;
  background-color: #fd3711;
}

.big1000Modal .ttl{
  padding: 0;
  margin-bottom: 10px;
  background-color: #f86bb4;
}

.miniBigModal .ttl{
  padding: 0;
  margin-bottom: 10px;
  background-color: #a7d419;
}

.big10Modal .buttonList input,
.big1000Modal .buttonList input,
.miniBigModal .buttonList input{
  margin: 10px 0 0 15px;
}

.modalCloseBtn{
  position: absolute;
  top: 15px;
  right: 20px;
}
